@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Geologica", sans-serif !important;
  margin: 0;
}



.title {
  font-weight: 700;
  color: #2993D5;
}

.Tubuh {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}